

@font-face {
    font-family: 'Gotham';
    src: url(assets/font/Gotham-Book.otf) format('opentype');
    /* src: url('http://example.com/fonts/gotham.eot?#iefix') format('embedded-opentype'),
         url('http://example.com/fonts/gotham.woff') format('woff'),
         url('http://example.com/fonts/gotham.ttf')  format('truetype'), */
}

@font-face {
    font-family: 'Gotham', sans-serif;
    src: url(assets/font/Gotham-Medium.otf) format('opentype');
    /* src: url('http://example.com/fonts/gotham.eot?#iefix') format('embedded-opentype'),
         url('http://example.com/fonts/gotham.woff') format('woff'),
         url('http://example.com/fonts/gotham.ttf')  format('truetype'), */
         font-weight: 600;
}

@font-face {
    font-family: 'Gotham', sans-serif;
    src: url(assets/font/Gotham-Bold.otf) format('opentype');
    /* src: url('http://example.com/fonts/gotham.eot?#iefix') format('embedded-opentype'),
         url('http://example.com/fonts/gotham.woff') format('woff'),
         url('http://example.com/fonts/gotham.ttf')  format('truetype'), */
         font-weight: 700;
}

body{
    font-family: 'Gotham';
    color: #3A4454;
}

.home{
    width: 100%;
}

.banner-section{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

.banner{
    background: url("./assets/img/bg-content-sm.png")  no-repeat center center;
    display: block;
    height: 400px; 
    position: relative;
    width: 100%;
    background-size: cover;
}

.banner-about{
    background: url("./assets/img/bg-content-sm.png")  no-repeat center center;
    display: flex;
    height: 400px; 
    position: relative;
    width: 100%;
    background-size: cover;
}

.banner-faq{
    background: url("./assets/img/bg-faq.png")  no-repeat center center;
    display: flex;
    height: 400px; 
    position: relative;
    width: 100%;
    background-size: cover;
}

.banner-transaction{
    background: url("./assets/img/bg-transaction.png")  no-repeat center center;
    display: flex;
    height: 400px; 
    position: relative;
    width: 100%;
    background-size: cover;
}


.banner-wrapper{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 120px;
    font-size: 40px; 
}

.brand-bold{
    font-weight: 700;
}

.paragraph-wrapper{
    display: flex;
}


.article{
    /* padding: 50px 200px; */
}

.portrait-image img{
    /* height: 400px; */
}

.content-text{
    padding-left: 15px;
}

.title{
    font-size: 40px;
}

.text-purple{
    color: #C93E84;
}

.text-paragraph{
    font-size: 16px;
}

.image-text{
    position: relative;
    width:50%;
}

.wrapper-image{
    position: absolute;
    right: -200px;

}

.wrapper-image img{
    height: 240px;
}

.wrapper-text{
    left: 15%;
    position: absolute;
    top: calc(50% - 80px);
    z-index: 1;
    font-size: 40px;
    width:100%;
    min-width: 380px;
    color: #fff;
}

.wrapper-content-layered{
    position: relative;
    height: 100%;
    min-height: 500px;
}

.layer-1{
    position: absolute;
    top: 0;
    left: 0;
}

.layer-1 img{
    width: 579px;
}

.layer-2{
    position: absolute;
    top: 25%;
    right: -10%;
}

.layer-2 img{
    width: 579px;
}

.width-50{
    width: 50%;
}

.caption{
    position: absolute;
    bottom: 15%;
    left:0;
    font-size: 40px;
}

.height-100{
    height: 100%;
}

.paragraph-2{
    height:240px;
}

.text-medium{
    font-family: 'Gotham';
    font-weight: 600;
}

.last-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-button{
    border-radius: 8px;
    background:  #CB3A84;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    color: #fff;
    font-size: 24px;
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    border: none;
}

.title-md{
    font-size: 38px;
}

.content-reseller-submission{
    background-color: #CB3A84 ;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    padding: 16px;
}

.text-strike{
    text-decoration: line-through;
}

.content-reseller-main{
    border-radius: 8px;
    /* opacity: 0.6; */
    background: rgba(173, 196, 232, 0.6);
    /* background: #ADC4E8; */
}

.gold{
    border-radius: 8px;
    background: linear-gradient(267deg, #F7DC79 0%, #B58011 47.92%, #F5D975 100%);
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff;
}

.content-line-wrapper{
    display: flex;
    /* justify-content: space-between; */
}

.wrapper-line-title{
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.wrapper-line-title span{
    background:#fff; 
    padding:0 10px;
}

.floating-wrapper{
    margin-top: 32px;
}

.blue{
    border-radius: 8px;
    background: rgb(126, 160, 214, 0.8);
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff;
}

.yellow-box{
    border-radius: 8px;
    background: rgb(255, 204, 1, 0.6);
    padding: 16px 20px;
}

.border-separator{
    border-bottom: 1px dashed #3A4454;
}

.pb-14{
    padding-bottom: 14px;
}

.pt-14{
    padding-top: 14px;
}

.mb-8{
    margin-bottom: 8px;
}

.menu-faq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item-faq{
    box-shadow: 0px 4px 6px 2px #00000021;
    width: 82px;
    height: 82px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.menu-item-wrapper{
    text-align: center; 
}

ul.bullet-list{
    list-style-type: disc;
}

.content-section-title{
    font-family: 'Gotham';
    font-weight: 600;
}

.faq-item-list{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.13);
    padding: 16px 20px;
    margin-bottom: 16px;
}

.close .faq-item-list-body{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}
.open .faq-item-list-body{
    background-color: #fff;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}

.open .faq-item-list-head{
    margin:0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.open .faq-item-list-head >.icon-indicator{
    transform: rotate(180deg)
}

.yellow-box{
    background-color: #FFCC01;;
}

.blue-box{
    border-radius: 8px;
    border: 0.5px solid rgba(58, 68, 84, 0.19);
    background: #CEDBF1;
    
}

.text-primary-bold{
    color: #3A4454;
    font-weight: 700;
}

.text-primary-medium{
    color: #3A4454;
    font-weight: 600;
}

.wrapper-image-box{
    position: absolute;
    top:0;
    right: -15%;
}

.wrapper-image-box img{
    height: 210px;
}


@media only screen and (max-width: 420px) {
    .wrapper-text{
        left: 0;
        top: calc(50% - 48px);
        width: 100%;
        min-width: 100%;
        position: absolute;
        text-align: center;
    }

    .wrapper-image{
        position: relative;
        right: 0;
    }

    .wrapper-image img{
        height: 160px;
    }

    .wrapper-content-layered {
        min-height: 280px;
    }

    .wrapper-content-layered .caption{
        bottom: 8%;
    }

    .wrapper-content-layered .layer-1 img{
        width: 260px;
    }

    .wrapper-content-layered .layer-2{
        right: 0px;
        top:30%;
    }

    .wrapper-content-layered .layer-2 img{
        width: 260px;
    }

    .primary-button{
        width: 100%;
    }
  }
